<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuantDoHaveFun.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BF436ABA19F02462BFC91FB7E27FD0155F20DCC8</string>
				<key>dateExpires</key>
				<string>2020/3/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JNMW98VLVV.com.charles.appViderVersion</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JNMW98VLVV</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>JNMW98VLVV.com.charles.appViderVersion</string>
				</array>
			</dict>
			<key>name</key>
			<string>QuantDoHaveFun.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f7ece3ab-fa8d-439c-b20b-f6f2efc0c74a</string>
				<key>name</key>
				<string>videoVersion</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JNMW98VLVV</string>
				<key>name</key>
				<string>wuhan RanJin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
